<p id="notice"><%= notice %></p>

<h1>To Dos</h1>

<h5>Listado:</h5>

<div class="row">
	
	<div class="col-md-6">
		<% @todos.each do |t| %>
  			<% if t.completed? %>
  				<li> <=% t.description %></li>
  		<% end %> 
  	</div>
  	<div class="col-md-6">
		<% @todos.each do |t| %>
  			<% if !t.completed? %>
  				<li> <=% t.description %></li> 
  		<% end %>
  	</div>

<%= link_to 'New Todo', new_todo_path %>
